{% extends 'todo/base.html' %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                 <h1>{{ todos.count }} Current Todo{{ todos.count|pluralize }}</h1>
            {% else %}
                <h1>Current Todos</h1>
            {% endif %}
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
            <div class="list-group list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}">
                <ul>
                    {% for todo in todos %}
                    <li>
                        <a href='{% url "todoitem" todo.id %}' class='list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}'>
                        {% if todo.important %}
                            <b>{{ todo.title }}</b> - {{ todo.memo|truncatechars:30 }}
                        {% else %}
                            {{ todo.title }} - {{ todo.memo|truncatechars:30 }}
                        {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div class="text-center">
                <h2>Looks like you don't have any todos! Nice work.</h2>
                <br>
                <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">New Todo</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
